* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background: url("./imgs/symbol-scatter-haikei.svg");
	background-repeat:no-repeat ;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;

}

header{
	background-color: white;
	height: 90px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.headerPrincipal{
	font-size: 2rem;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 7px;
}

.headerText{
	background-color: white;
    color: black;
    padding: 5px;
	transition: 1s;
}

.headerText:hover{
	transform: scale(1.2);
}

.headerDiv{
	width: 200px;
    display: flex;
    justify-content: space-between;
}


main{
	width: 100vw;
	height: 105vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainTexts{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	width: 250px;
	height: 200px;
	border: 5px black solid;
	border-radius: 10px;
	margin-top: 10px;
	padding:8px 5px;
	background-color: white;
}

.dateText{
	margin-top: 5px;
}

.botaoGerador{
	margin-top: 10px;
	width:150px ;
	height: 25px ;
	border-radius: 15px;
	transition:1.5s ;
}

.botaoGerador:hover{
	background-color: black;
	color: white;
}

.mainAPI{
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content:space-evenly;
	width: 600px;
	height: 500px;
	border: 5px rgb(68, 58, 58) solid;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color:white ;


}

.tituloAPI{
	text-align: center;
	margin-bottom: 5px;
}

.imgAPI{
	width: 200px;
	height: 200px;
}

.explanationAPI{
	font-size: 13px;
}


footer{
	background-color: black;
	height: 70px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.footerText{
	color: tomato
}